{% for persona in dataBusqueda %}
<tr id="persona_{{ persona.id_persona }}">
  <td>{{ loop.index }}</td>
  <td>{{ persona.nombre_persona }}</td>
  <td>{{ persona.apellido_persona }}</td>
  <td>{{ persona.sexo_persona }}</td>
  <td>$ {{ '{:,.0f}'.format(persona.salario_persona).replace(',', '.')}}</td>
  <td>
    <a
      href="/detalles-persona/{{ persona.id_persona }}"
      title="Ver envio"
      type="button"
      class="btn btn-info btn-sm"
      data-bs-toggle="tooltip"
      data-bs-offset="0,4"
      data-bs-placement="top"
      data-bs-html="true"
      title="<span>Ver detalles</span>">
      <i class="bi bi-eye"></i>
      Ver detalles
    </a>
    <a
      href="{{ url_for('viewEditarEmpleado', id = persona.id_persona) }}"
      class="btn btn-success btn-sm"
      tooltip="Actualizar Registro">
      <i class="bi bi-arrow-clockwise"></i>
      Actualizar
    </a>
    <a
      href="#"
      onclick="eliminarEmpleado('{{ persona.id_persona }}');"
      class="btn btn-danger btn-sm"
      data-bs-toggle="tooltip"
      data-bs-offset="0,4"
      data-bs-placement="top"
      data-bs-html="true"
      title="<span>Eliminar persona {{ persona.nombre_persona }}</span>">
      <i class="bi bi-trash3"></i>
      Eliminar
    </a>
  </td>
</tr>

{% endfor %}
